[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "jetpack"]
	path = jetpack
	url = https://github.com/ankane/jetpack
	shallow = true
	registered = true
[submodule "dbx"]
	path = dbx
	url = https://github.com/ankane/dbx
	shallow = true
	registered = true
